<?xml version="1.0" encoding="UTF-8"?>
	<!--
		/* * Betfair Trickle. Automatic bet placement application. Copyright
		(C) 2010 * Thomas Inman. This program is free software; you can
		redistribute it and/or * modify it under the terms of the GNU General
		Public License as published by * the Free Software Foundation; either
		version 2 of the License, or (at your * option) any later version.
		This program is distributed in the hope that it * will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty * of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		General * Public License for more details. You should have received a
		copy of the GNU * General Public License along with this program; if
		not, write to the Free * Software Foundation, Inc., 675 Mass Ave,
		Cambridge, MA 02139, USA. */
	-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
		
	<context:annotation-config />
	<context:component-scan base-package="uk.co.onehp.trickle" />
	<context:spring-configured />
	<task:annotation-driven/>
	<cache:annotation-driven/>
	<import resource="classpath:/spring-hibernate.xml" />
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
	
	<camel:camelContext id="camelContext">
		<camel:template id="producerTemplate"/>
		<camel:routeBuilder ref="betfairEngineRouting"/>
	</camel:camelContext>
	
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
	  <property name="caches">
	    <set>
	      <bean class="org.springframework.cache.concurrent.ConcurrentCacheFactoryBean" p:name="default"/>
	      <bean class="org.springframework.cache.concurrent.ConcurrentCacheFactoryBean" p:name="completeBets"/>
	      <bean class="org.springframework.cache.concurrent.ConcurrentCacheFactoryBean" p:name="incompleteBets"/>
	    </set>
	  </property>
	</bean>
	
	<bean id="jms" class="org.apache.activemq.camel.component.ActiveMQComponent">
    	<property name="brokerURL" value="vm://localhost?broker.persistent=false"/>
  	</bean>
	
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/app.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders">
			<value>true</value>
		</property>
	</bean>
	
	<bean id="placeBetsJob" class="org.springframework.scheduling.quartz.JobDetailBean">
	  <property name="jobClass" value="uk.co.onehp.trickle.services.betfair.PlaceBetsJob"/>
	</bean>
	
	<bean id="placeBetsTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	  <property name="jobDetail" ref="placeBetsJob"/>
	  <property name="cronExpression" value="0 0 0 1 1 ? 2222"/>
	</bean>
	
	<bean id="startupJob" class="org.springframework.scheduling.quartz.JobDetailBean">
	  <property name="jobClass" value="uk.co.onehp.trickle.services.betfair.StartupJob"/>
	</bean>
	
	<bean id="startupTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
	  <property name="jobDetail" ref="startupJob"/>
	  <property name="repeatCount" value="0"></property>
	</bean>
	
	<bean id="getPricesForUpcomingBetsJob" class="org.springframework.scheduling.quartz.JobDetailBean">
	  <property name="jobClass" value="uk.co.onehp.trickle.services.betfair.GetPricesForUpcomingBetsJob"/>
	</bean>
	
	<bean id="getPricesForUpcomingBetsTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
	  <property name="jobDetail" ref="getPricesForUpcomingBetsJob"/>
	  <property name="cronExpression" value="0 0 0 1 1 ? 2222"/>
	</bean>
	
	<bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	    <property name="triggers">
	        <list>
	        	<ref bean="placeBetsTrigger"/>
	        	<ref bean="getPricesForUpcomingBetsTrigger"/>
	        	<ref bean="startupTrigger"/>
	        </list>
	    </property>
	</bean>
	
</beans>