<?xml version="1.0" encoding="UTF-8"?>
	<!--
		/* * Betfair Trickle. Automatic bet placement application. Copyright
		(C) 2010 * Thomas Inman. This program is free software; you can
		redistribute it and/or * modify it under the terms of the GNU General
		Public License as published by * the Free Software Foundation; either
		version 2 of the License, or (at your * option) any later version.
		This program is distributed in the hope that it * will be useful, but
		WITHOUT ANY WARRANTY; without even the implied warranty * of
		MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
		General * Public License for more details. You should have received a
		copy of the GNU * General Public License along with this program; if
		not, write to the Free * Software Foundation, Inc., 675 Mass Ave,
		Cambridge, MA 02139, USA. */
	-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
		
	<context:annotation-config />
	<context:component-scan base-package="uk.co.onehp.trickle" />
	<context:spring-configured />
	<task:annotation-driven/>
	<import resource="classpath:/spring-hibernate.xml" />
	
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
	
	<camel:camelContext id="camelContext">
		<camel:template id="producerTemplate"/>
		<camel:routeBuilder ref="betfairEngineRouting"/>
	</camel:camelContext>
	
	<bean id="jms" class="org.apache.activemq.camel.component.ActiveMQComponent">
    	<property name="brokerURL" value="vm://localhost?broker.persistent=false"/>
  	</bean>
	
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/app.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders">
			<value>true</value>
		</property>
	</bean>
</beans>